h1,h2,h3 {
    text-align: center;
}

div {
    border: 2px solid black;
  
    margin-right: 300px;
    background-color: cadetblue;
}
body{
    margin: 10px;
    padding: 20px;
    border:2px solid rgb(38, 193, 193);
    
}
span{
    flex-wrap:wrap;
  

}
input[type="email"]{
    background-color: cadetblue;

}
#s2{
    margin-left: 1030px;
    padding-top:5px;
}
    @media all and (max-width:1001px) {
        #s3{
            content: "(" attr(img src)")";
            margin-right: 800px;
            margin-left: 600px;

        }        
    }

#s3{
    margin-left: 190px;
}
